<section class="bg-[#0d0f2b] py-12 text-center text-white">
  <h3 class="text-xl font-semibold mb-4">
    We have support for over 30 languages<br />around the world
  </h3>
  <img
    src="https://sdmntpreastus.oaiusercontent.com/files/00000000-46e8-61f9-afc7-58d45a048ee9/raw?se=2025-07-19T14%3A56%3A29Z&sp=r&sv=2024-08-04&sr=b&scid=a3c2f0d2-3b02-5bb9-bb8e-a44cddc49eb1&skoid=02b7f7b5-29f8-416a-aeb6-99464748559d&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-19T02%3A22%3A35Z&ske=2025-07-20T02%3A22%3A35Z&sks=b&skv=2024-08-04&sig=kiAa8KOjkkXVqxwaRbEieTIZpDv9xBDVp0XmPiy3fGk%3D"
    alt="World Map"
    class="mx-auto w-[80%] md:w-[60%]"
  />
</section>
