<div
  class="grid grid-cols-1 md:grid-cols-3 gap-6 px-6 py-12 text-white bg-[#0d0f2b]"
>
  <div class="bg-[#072f1a] p-6 rounded-lg text-center">
    <p class="text-green-400 text-2xl font-bold">$ 452,238,425</p>
    <p class="mt-2 text-sm text-gray-300">All time traded value</p>
  </div>
  <div class="bg-[#282200] p-6 rounded-lg text-center">
    <p class="text-yellow-400 text-2xl font-bold">20,345</p>
    <p class="mt-2 text-sm text-gray-300">Best Action</p>
  </div>
  <div class="bg-[#101020] p-6 rounded-lg text-center">
    <p class="text-indigo-400 text-2xl font-bold">154,385+</p>
    <p class="mt-2 text-sm text-gray-300">Total Traders</p>
  </div>
</div>
